Basics1/venv
TemplateBasics/venv
FormFieldsPartOneandTwo/venv
FormBasics/venv
TemplateFormsPractice/venv
TemplateInheritance/venv
TemplateForms/venv
FlashAlerts/venv
FlaskForms1/venv
FlaskForms2/venv
DatabasewithPython/FlaskandDatabasePartOne/venv
DatabasewithPython/MysqlConnector/venv